:root {
    /* 设置主题颜色为橙色 */
    --theme-color: rgb(249, 244, 131);

}


/* 鼠标样式 */
#cursor {
    position: fixed;
    width: 16px;
    height: 16px;
    /* 这里改变跟随的底色 */
    background: var(--theme-color);

    border-radius: 8px;
    opacity: 0.5;
    z-index: 10086;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    transition-property: background, opacity, transform;
}

#cursor.hidden {
    opacity: 0;
}

#cursor.hover {
    opacity: 0.1;
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
}

#cursor.active {
    opacity: 0.5;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
}





:root {
    --trans-light: rgba(255, 255, 255, 0.88);
    --trans-dark: rgba(25, 25, 25, 0.88);
    --border-style: 1px solid rgb(169, 169, 169);
    --backdrop-filter: blur(5px) saturate(150%);
}

/* 首页文章卡片 */
#recent-posts>.recent-post-item {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 25px;
    border: var(--border-style);
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 18px;
    border: var(--border-style);
}

/* 文章页、归档页、普通页面 */
div#post,
div#page,
div#archive {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border: var(--border-style);
    border-radius: 20px;
}

/* 导航栏 */
#page-header.nav-fixed #nav {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: var(--backdrop-filter);
}





/*哔哩哔哩视频适配*/
.aspect-ratio {
    position: relative;
    width: 90%;
    height: auto;
    padding-bottom: 75%;
    margin: 3% auto;
    text-align: center;
}

.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 86%;
    left: 0;
    top: 0;
}


/* 除了首页以外其他页面隐藏卡片，并采用宽屏显示 
.page:not(.page.home) .aside-content {
  display: none;
}*/
.page .layout {
    max-width: 1400px;
}

/* 主页的类 */
/* .page-home .layout {
    max-width: 1400px;
} */





/* 友链一行显示更多 */
.site-card {
    width: calc(100% / 5 - 16px) !important;
    border-radius: 18px !important;
}

.site-card .img {
    height: 165px !important;
    border-radius: 18px !important;
}

/* 适应宽度不同的设备 */
@media screen and (max-width: 1200px) {
    .site-card {
        width: calc(100% / 4 - 16px) !important;
    }
}

@media screen and (max-width: 900px) {
    .site-card {
        width: calc(100% / 3 - 16px) !important;
    }
}

@media screen and (max-width: 600px) {
    .site-card {
        width: calc(100% / 2 - 16px) !important;
    }
}



/* 进入网页的加载条头像 */
.loading-img {
    /* background: url(https://npm.elemecdn.com/anzhiyu-blog@2.1.1/img/avatar.webp) no-repeat center center; */
    background: url(/assets/R.jfif) no-repeat center center;
    background-size: cover;
}


/* 全局光标样式 */
/* * {
    cursor: url('/assets/cursor/正常选择.cur'), default;
}

p {
    cursor: url('../assets/cursor/文本选择.cur'), text;
} */

/* a:hover {
    cursor: url('../assets/cursor/问号.gif'), pointer;
} */

/* 背景宇宙星光  */
#universe {
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* 这个是调置顶的优先级的，-1在文章页下面，背景上面，个人推荐这种 */
    z-index: -1;
}